*{
    margin: 0;
    padding: 0; 
    font-family: sans-serif; 
    background: rgb(58, 17, 58); 
}

.container {
    width: 100%; 
    height: 100%; 
}


h1 {
    color:white; 
    /*border: solid; 
    border-color: wheat; */

} 

.menubar ul{
    display: inline-flex; 
    float: right;
    margin: 50px; 
}

.menubar ul li {
    list-style: none; 
    font-size: 50 px;
    margin: 0 20px; 
    color: grey; 
    cursor: pointer; 
    
}

.logo {
    float: left; 
    color: grey; 
    padding-top: 100 px;
}