*{
  margin: 0;
  padding: 0; 
  font-family: 'Courier New', monospace;    
  background: rgb(54, 12, 66); 
}

.btns button {
  vertical-align: middle;
  padding: 1rem 2rem;
  margin: 0 auto;
  background: #578ead;
  color: #ffffff;
  width: 30%;
  height: 20%;
  font-family: 'Courier New', monospace;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}

.btns li {
 text-align: center;
 display: list-item;
 margin-top: 10%;
 position: relative;
}

.grow { 
  transition: all .2s ease-in-out; 
  text-decoration: none;
}

.grow:hover { transform: scale(1.1); }

button:hover,
button:focus {
  background: #0053ba;
}

.downloadWelcome {
  color:white; 
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
} 