*{
    margin: 0;
    padding: 0; 
    font-family: sans-serif; 
    background: rgb(54, 12, 66); 
}

.btns {
  vertical-align: middle;
    display: list-item;
    position: fixed;
    top: 50px;
    left: 35%;
}



.btns li {
   background: grey;
   background-position-x:center; 
   background-position-y: center;
   background-size: 20%;
   top: 50px;
    left: 35%;
}

.downloadWelcome {
    color:white; 
    animation-duration: 3s;
    animation-name: slidein;
}


@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
} 