*{
    margin: 0;
    padding: 0; 
    font-family: 'Courier New', monospace;    
    background: rgb(54, 12, 66); 
}

.btns button {
  vertical-align: middle;
    padding: 1rem 2rem;
    margin: 0 auto;
    background: #578ead;
    color: #ffffff;
    width: 30%;
    height: 30%;
    font-family: 'Courier New', monospace;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
  
  
}

.btns li {
   text-align: center;
   display: list-item;
   margin-top: 10%;
   position: relative;
}

.grow { 
    transition: all .2s ease-in-out; 
    text-decoration: none;
}
.grow:hover { transform: scale(1.1); }

button:hover,
button:focus {
    background: #0053ba;
}


.websiteWelcome {
    color:white; 
    animation-duration: 3s;
    animation-name: slidein;
}


@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
} 
    background: rgb(54, 12, 66); 
}

.websiteWelcome {
    color:white; 
    animation-duration: 3s;
    animation-name: slidein;

} 

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.menubar ul{
    display: list-item;
    float: right;
    list-style: none;
}

.menubar ul li:hover {
    text-emphasis-color: #8283858f;
    color:  #0053ba;
}


.menubar ul li {
    font-size: 40px;
    margin: 30px; 
    color: grey; 
    cursor: pointer; 
    display: inline-flex; 
}

.logo {
    float: left; 
    color: grey; 
    padding-top: 100 px;
}

.centerBtn button {
    text-align: center;
    display: list-item;
    position: fixed;
    top: 250px;
    left: 35%;
    

}

.bla a {
    background: #578ead;
}

.grow { 
    transition: all .2s ease-in-out; 
    text-decoration: none;
}
.grow:hover { transform: scale(1.1); }


button {
    border: none;
    padding: 1rem 2rem;
    margin: 0 auto;
    background: #578ead;
    color: #ffffff;
    width: 30%;
    height: 30%;
    
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 300ms ease-in-out, 
                transform 150ms ease;
   
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}   

.render ul {
    height: 100px;
    list-style-type: none;
    margin: 10px;
    vertical-align: middle;
        
}

.render ul li {
    height: 100px;
    line-height: 100px;
}

