*{
    margin: 0;
    padding: 0; 
    font-family: sans-serif; 
    background: red; 
}

.container {
    width: 100%; 
    height: 100%; 
}


h1 {
    color:white; 
    /*border: solid; 
    border-color: wheat; */

} 

.menubar ul{
    display: inline-flex; 
    float: right;
    margin: 50px; 
    list-style: none;
}

.menubar ul li {
    list-style: none; 
    font-size: 50 px;
    margin: 0px; 
    color: grey; 
    cursor: pointer; 
    margin-bottom: 10%;
    
}

.logo {
    float: left; 
    color: grey; 
    padding-top: 100 px;
}

.centerBtn {
    text-align: center;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0 auto;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    width: 30%;
    height: 30%;
    
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}   

