<html>
<head>
    <title>This is a proper title.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1> AYO LOOK AT OUR WEBSITE!! </h1>
</body>
    <h4 class="logo">*logo*</h4>

    <!--
        unorderd list, rendered vertically. first element is the menu bar, floating right
        second element is the huge button, centered
    -->

    <ul class="render">
        <li>
            <div class="menubar">
                <ul>
                    <li>About</li>
                    <li> | </li>
                    <li>Contact</li>
                    
                </ul>
                
            </div> 
        </li>



        <li>
            <div class="centerBtn">
                <button class="grow">UPLOAD PDF</button>
            </div>
        </li>
    </ul>





    
    
</body>
    
       
</html>